@model COMPX223_d3_1285310_overkill.Models.TrapCatchEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrapCatchEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trap.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
